<main>
    <div class="parte-cima">
        <h1>Contato</h1>
    </div>
    <div class="parte-baixo">
        <div class="email">
            <img class="img-email" src="assets/img/email-75.png" alt="email.png">
            <p class="nome-email">Email</p>
            <p class="duvida">Tem alguma dúvida?</p>
            <p class="email-generico">xxxxxx@xxxmail.com</p>
        </div>
        <div>
            <img class="img-telefone" src="assets/img/telefone-75.png" alt="telefone.png">
            <p class="nome-telefone">Telefone</p>
            <p class="ligacao">Você pode ligar a qualquer hora.</p>
            <p class="numero-generico">xxxx xxx xxxx</p>
        </div>
    </div>
</main>
   
    
