/* Seção de Produtos */
.produtos-destaque {
    width: 100%;
    height: 2952px;
    background-color: #9B9BA0;
}

.container-grid-3 {
    width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.nome-produtos-destaque {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    padding: 45px 0px;
    text-align: center;
}

.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cards {
    width: 295px;
    height: 587px;
    background-color: white;
    position: relative;
}

.favoritos {
    position: absolute;
    bottom: 194px;
    right: 11px;
}

/* Produto 1 */
.imagem1-produto {
    width: 245px;
    position: absolute;
    top: 94px;
    left: 23px;
}

.descricao-produto-1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 224px;
    position: absolute;
    bottom: 50px;
    left: 11px;
    color: black;
}

.preco-1 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    left: 11px;
    color: black;
}

/* Produto 2 */
.imagem2-produto {
    width: 215px;
    position: absolute;
    top: 37px;
    left: 41px;
}

.descricao-produto-2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 211px;
    position: absolute;
    bottom: 85px;
    left: 11px;
    color: black;
}

.preco-2 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 42px;
    left: 11px;
    color: black;
}

/* Produto 3 */
.imagem3-produto {
    width: 271px;
    position: absolute;
    top: 47px;
    left: 21px;
}

.descricao-produto-3 { 
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 201px;
    position: absolute;
    bottom: 123px;
    left: 11px;
    color: black;
}

.preco-3 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 69px;
    left: 11px;
    color: black;
}

/* Produto 4 */
.imagem-produto-4 {
    position: absolute;
    top: 60px;
    left: 22px;
    width: 247px;
}

.descricao-produto-4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 252px;
    position: absolute;
    bottom: 50px;
    left: 11px;
    color: black;
}

.preco-4 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 11px;
    color: black;
}

/* Produto 5 */
.imagem5-produto {
    width: 214px;
    position: absolute;
    top: 30px;
    left: 40px;
}

.descricao-produto-5 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 219px;
    position: absolute;
    bottom: 147px;
    left: 11px;
    color: black;
}

.preco-5 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 95px;
    left: 11px;
    color: black;
}

/* Produto 6 */
.imagem6-produto {
    width: 275px;
    position: absolute;
    top: 69px;
    left: 7px;
}

.descricao-produto-6 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 263px;
    position: absolute;
    bottom: 79px;
    left: 11px;
    color: black;
}

.desconto-6 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: line-through;
    position: absolute;
    bottom: 44px;
    left: 11px;
    color: black;
}

.preco-6 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 8px;
    left: 11px;
    color: black;
}

.faixa-desconto-6 {
    width: 100%;
    background-color: #6CC947;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
}

.faixa-desconto-6 p {
    color: white;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

/* Produto 7 */
.imagem7-produto {
    width: 261px;
    position: absolute;
    top: 80px;
    left: 17px;
}

.descricao-produto-7 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 226px;
    position: absolute;
    bottom: 116px;
    left: 11px;
    color: black;
}

.desconto-7 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: line-through;
    position: absolute;
    bottom: 83px;
    left: 11px;
    color: black;
}

.preco-7 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 40px;
    left: 11px;
    color: black;
}

.faixa-desconto-7 {
    width: 100%;
    background-color: #6CC947;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
}

.faixa-desconto-7 p {
    color: white;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

/* Produto 8 */
.imagem8-produto {
    width: 227px;
    position: absolute;
    top: 36px;
    left: 31px;
}

.descricao-produto-8 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 202px;
    position: absolute;
    bottom: 112px;
    left: 11px;
    color: black;
}

.preco-8 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 64px;    
    left: 11px;
    color: black;
}

.ver-mais {
    width: 338px;
    height: 60px;
    background-color: #11C042;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 123px auto 0px;
    text-decoration: none;
}

.ver-mais a {
    text-decoration: none;
}

.ver-mais p {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    color: white;
}

/* Media queries */
@media screen and (max-width: 1100px) {

/* Produtos em destaque */
.produtos-destaque {
    height: 1700px;
}

.container-grid-3 {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.nome-produtos-destaque {
    display: flex;
    justify-content: center;
}

.produtos {
    display: flex;
    justify-content: center;
    column-gap: 22px;
    row-gap: 32px;
}

.cards {
    width: 200.43px;
    height: 443px;
}

.favoritos {
    position: absolute;
    bottom: 160px;
}

.favoritos img {
    width: 20.38px;
    height: 20.38px;
}

/* Produto 1 */
.imagem1-produto {
    width: 166.46px;
    height: 118.9px;
    left: 19px;
}

.descricao-produto-1 {
    font-size: 16.31px;
    width: 152.19px;
    height: 120.26px;
    bottom: 68px;
}

.preco-1 {
    width: 109.39px;
    height: 22.42px;
    font-size: 20.38px;
    position: absolute;
    bottom: 33px;
}

/* Produto 2 */
.imagem2-produto {
    width: 146.08px;
    height: 188.2px;
    left: 30px;
}

.descricao-produto-2 {
    width: 143.36px;
    height: 103.27px;
    font-size: 16.31px;
    bottom: 83px;
}

.preco-2  {
    width: 109.39px;
    height: 22.42px;
    font-size: 20.38px;
    position: absolute;
    bottom: 55px;
}

/* Produto 3 */
.imagem3-produto {
    width: 184.13px;
    height: 181.41px;
    left: 15px;
}

.descricao-produto-3 {
    width: 136.57px;
    height: 74.74px;
    font-size: 16.31px;
    bottom: 112px;
}

.preco-3  {
    width: 125.02px;
    height: 22.42px;
    font-size: 20.38px;
    bottom: 81px;
}

/* Produto 4 */
.imagem-produto-4 {
    width: 167.82px;
    height: 165.1px;
    left: 16px;
    top: 47px;
}

.descricao-produto-4 {
    width: 171.22px;
    height: 118.9px;
    font-size: 16.31px;
    position: absolute;
    bottom: 65px;
}

.preco-4  {
    width: 123.66px;
    height: 22.42px;
    font-size: 20.38px;
    position: absolute;
    bottom: 26px;
}

/* Produto 5 */
.imagem5-produto {
    width: 145.4px;
    height: 186.85px;
    left: 28px;
}

.descricao-produto-5 {
    font-size: 16.31px;
    width: 148.8px;
    height: 73.38px;
    bottom: 111px;
}

.preco-5 {
    width: 95.12px;
    height: 30.57px;
    font-size: 20.38px;
    position: absolute;
    bottom: 74px;
}

/* Produto 6 */
.imagem6-produto {
    width: 186.85px;
    height: 135.21px;
    left: 6px;
}

.descricao-produto-6 {
    font-size: 16.31px;
    width: 178.69px;
    height: 127.73px;
    bottom: 59px;
}

.desconto-6 {
    font-size: 16.31px;
    position: absolute;
    bottom: 37px;
}

.preco-6 {
    font-size: 20.38px;
    position: absolute;
    bottom: 9px;
}

.faixa-desconto-6 {
    width: 200.43px;
    height: 25.82px;
}

.faixa-desconto-6 p {
    font-size: 16.31px;
}

/* Produto 7 */
.imagem7-produto {
    width: 177.33px;
    height: 127.73px;
    left: 11px;
}

.descricao-produto-7 {
    width: 153.55px;
    height: 94.44px;
    font-size: 16.31px;
    position: absolute;
    bottom: 100px;
}

.desconto-7 {
    position: absolute;
    bottom: 81px;
    width: 86.97px;
    height: 12.91px;
}

.desconto-7 p {
    font-size: 16.31px;
}

.preco-7 {
    width: 99.88px;
    height: 30.57px;
    font-size: 20.38px;
}

.faixa-desconto-7 {
    width: 200.43px;
    height: 25.82px;
}

.faixa-desconto-7 p {
    font-size: 16.31px;
}

/* Produto 8 */
.imagem8-produto {
    width: 154.23px;
    height: 188.88px;
    left: 23px;
}

.descricao-produto-8 {
    width: 137.25px;
    height: 97.16px;
    font-size: 16.31px;
    bottom: 99px;
}

.preco-8 {
    width: 97.16px;
    height: 30.57px;
    font-size: 20.38px;
    position: absolute;
    bottom: 60px;
}

.ver-mais {
    position: absolute;
    bottom: 46px;
    left: 181px;
}

.ver-mais a {
    text-decoration: none;
}

}

@media screen and (max-width: 360px) {

/* Produtos em destaque */
.produtos-destaque {
    width: 360px;
    height: 1534px;
}

.container-grid-3 {
    width: 90%;
    height: 100%;
    margin: 0px auto;
}

.nome-produtos-destaque {
    font-size: 24px;
    padding: 30px 0px;
}

.cards {
    width: 147px;
    height: 292.51px;
}

.favoritos {
    bottom: 94px;
    right: 4px;
}

.favoritos img {
    width: 14.95px;
    height: 14.95px;
}

/* Produto 1 */
.imagem1-produto {
    width: 122.08px;
    height: 87.2px;
    top: 46px;
    left: 12px;
}

.descricao-produto-1 {
    width: 111.62px;
    height: 88.2px;
    font-size: 11.98px;
    left: 7px;
    bottom: 28px;
}

.preco-1 {
    width: 80.23px;
    height: 16.44px;
    font-size: 14.97px;
    left: 7px;
    bottom: 10px;
}

/* Produto 2 */
.imagem2-produto {
    width: 107.14px;
    height: 138.03px;
    top: 22px;
    left: 20px;
}

.descricao-produto-2 {
    width: 105.14px;
    height: 75.74px;
    font-size: 12.02px;
    left: 7px;
    bottom: 41px;
}

.preco-2 {
    width: 80.23px;
    height: 16.44px;
    font-size: 15.03px;
    left: 7px;
    bottom: 25px;
}

/* Produto 3 */
.imagem3-produto {
    width: 135.04px;
    height: 133.05px;
    top: 14px;
    left: 12px;
}

.descricao-produto-3 {
    width: 100.16px;
    height: 54.81px;
    font-size: 12.06px;
    bottom: 80px;
    left: 7px;
}

.preco-3 {
    width: 91.69px;
    height: 16.44px;
    font-size: 15.08px;
    left: 7px;
    bottom: 60px;
}

/* Produto 4 */
.imagem-produto-4 {
    width: 123.08px;
    height: 121.09px;
    top: 29px;
    left: 12px;
}

.descricao-produto-4 {
    width: 125.57px;
    height: 87.2px;
    font-size: 12.02px;
    bottom: 49px;
    left: 7px;
}

.preco-4 {
    width: 90.69px;
    height: 16.44px;
    font-size: 15.03px;
    left: 7px;
}

/* Produto 5 */
.imagem5-produto {
    width: 106.67px;
    height: 137.08px;
    top: 23px;
    left: 21px;
}

.descricao-produto-5 {
    width: 109.16px;
    height: 53.83px;
    font-size: 11.96px;
    bottom: 92px;
    left: 7px;
}

.preco-5 {
    width: 69.79px;
    height: 22.43px;
    font-size: 14.95px;
    bottom: 63px;
    left: 7px;
}

/* Produto 6 */
.imagem6-produto {
    width: 137.5px;
    height: 99.5px;
    top: 53px;
    left: 4px;
}

.descricao-produto-6 {
    width: 131.5px;
    height: 94px;
    font-size: 12px; 
    bottom: 53px; 
    left: 7px;  
}

.desconto-6 {
    width: 72.5px;
    height: 16.5px;
    font-size: 12px;
    left: 7px;
}

.preco-6 {
    width: 88px;
    height: 22.5px;
    font-size: 15px;
    bottom: 13px;
    left: 7px;
}

.faixa-desconto-6 {
    width: 147.5px;
    height: 19px;
}

.faixa-desconto-6 p {
    font-size: 12px;
}

/* Produto 7 */
.imagem7-produto {
    width: 130.5px;
    height: 94px;
    top: 54px;
    left: 8px;
}

.descricao-produto-7 {
    width: 113px;
    height: 69.5px;
    font-size: 12px;
    bottom: 75px;
    left: 7px;
}

.desconto-7 {
    width: 64px;
    height: 9.5px;
    bottom: 60px;
    left: 7px;
}

.desconto-7 p {
    font-size: 12px;
}

.preco-7 {
    width: 73.5px;
    height: 22.5px;
    font-size: 15px;
    bottom: 27px;
    left: 7px;
}

.faixa-desconto-7 {
    width: 147.5px;
    height: 19px;
}

.faixa-desconto-7 p {
    font-size: 12px;
}

/* Produto 8 */
.imagem8-produto {
    width: 113.12px; 
    height: 138.53px;
    top: 18px;
    left: 17px;
}

.descricao-produto-8 {
    width: 100.66px;
    height: 71.26px;
    font-size: 12.04px;
    bottom: 72px;
}

.preco-8 {
    width: 72px;
    height: 22px;
    font-size: 15.05px;
    bottom: 46px;
}

.ver-mais {
    width: 229px;
    height: 40.65px;
    left: 48px;
    bottom: 29px;
}

.ver-mais p {
    font-size: 18.97px;
}

}