<div class="banner">
    <div class="lancamento">
        <p>Lançamento!</p>
    </div>
    <a href="#" class="compre-agora">
        <p>Compre Agora</p>
    </a>
</div>
<section class="categoria">
    <div class="container-grid-2">
        <div class="nome-categorias">
            <p>Categorias</p>
        </div>
        <div class="blocos">
            <a href="#" class="bloco-1">
                <img src="assets/img/consoles-74.png" alt="console.png">
                <p>Consoles</p>
            </a>
            <a href="#" class="bloco-2">
                <img src="assets/img/acessorios-103(1).png" alt="acessórios.png">
                <p>Acessórios</p>
            </a>
            <a href="#" class="bloco-3"> 
                <img src="assets/img/computadores111.png" alt="computadores.png">
                <p>Computadores</p>
            </a>
            <a href="#" class="bloco-4"> 
                <img src="assets/img/jogos-84.png" alt="jogos.png">
                <p>Jogos</p>
            </a>
            <a href="#" class="bloco-5">
                <img src="assets/img/monitores-74.png" alt="monitores.png">
                <p>Monitores</p>
            </a>
            <a href="#" class="bloco-6">
                <img src="assets/img/cabos-79.png" alt="cabos.png">
                <p>Cabos</p>
            </a>
            <a href="#" class="bloco-7">
                <img src="assets/img/outros-78.png" alt="outros.png">
                <p>Outros</p>
            </a>
        </div>
    </div>
</section>

<!-- Produtos em destaque -->
<section class="produtos-destaque">
    <div class="container-grid-3">
        <p class="nome-produtos-destaque">Produtos em destaque</p>
        <div class="produtos">
            <a href="#" class="produto-1">
                <img class="imagem1-produto" src="assets/img/controle-xbox-semfundo-cortado.png" alt="controle-xbox.png">
                <div class="descricao-produto-1">
                    <p>Controle para Xbox Series X/S - Xbox One X sem Fio Carbon Black Preto</p>
                </div>
                    <div class="preco-1"> 
                        <p>R$ 499,00</p> 
                    </div>
                    <div class="favorito-1">
                        <img src="assets/img/favorito-30.png" alt="">
                    </div>
            </a>
            <a href="#" class="produto-2">
                <img class="imagem2-produto" src="assets/img/jogo-spider-man-semfundo-cortado.png" alt="jogo-spiderman.png">
                <div class="descricao-produto-2">
                    <p>Jogo Marvel's Spider-man: Miles Morales - PS4</p>
                </div>
                <div class="preco-2"> 
                    <p>R$ 238,00</p> 
                </div>
                <div class="favorito-2">
                    <img src="assets/img/favorito-30.png" alt="">
                </div>
            </a>
            <a href="#" class="produto-3">
                <img class="imagem3-produto" src="assets/img/console-xboxseries-cortado.jpg" alt="console-xboxseries.jpg">
                <div class="descricao-produto-3" >
                    <p>Console Xbox Series S 500gb Ssd</p>
                </div>
                <div class="preco-3">
                    <p>R$ 2.399,99</p>
                </div>
                <div class="favorito-3">
                    <img src="assets/img/favorito-30.png" alt="">
                </div>
            </a>
            <a href="#" class="produto-4">
                <img class="imagem-produto-4" src="assets/img/imac.png" alt="imac.png">
                <div class="descricao-produto-4">
                    <p>iMac 21,5", Tela Retina 4K Apple, Intel® Core™ i5 (8GB RAM, 256GB SSD) - Prateado</p>
                </div>
                <div class="preco-4">
                    <p>R$9.799,02</p>
                </div>
                <div class="favorito-4">
                    <img src="assets/img/favorito-30.png" alt="">
                </div>
            </a>
            <a href="#" class="produto-5">
                <img class="imagem5-produto" src="assets/img/watchdogs-semfundo-cortado.png" alt="">
                <div class="descricao-produto-5">
                    <p>Jogo Watch Dogs Legion - Xbox One</p>
                </div>
                <div class="preco-5">
                    <p>R$ 129,90</p>
                </div>
                <div class="favorito-5">
                    <img src="assets/img/favorito-30.png" alt="">
                </div>
            </a>
            <a href="#" class="produto-6">
                <img class="imagem6-produto" src="assets/img/console-nitendoswitch-semfundo-cortado.png" alt="">
                <div class="descricao-produto-6">
                    <p>Console Nintendo Switch 32GB + Controle Joy-Con Neon Azul e Vermelho</p>
                </div>
                <div class="desconto-6">
                    <p>R$ 2.399,00</p>
                </div>
                <div class="preco-6">
                    <p>R$ 2.099,00</p>
                </div>
                <div class="favorito-6">
                    <img src="assets/img/favorito-30.png" alt="">
                </div>
                <div class="faixa-desconto-6">
                    <p>28% de desconto</p>
                </div>
            </a>
            <a href="#" class="produto-7">
                <img class="imagem7-produto" src="assets/img/controle-ps5-cortado.jpg" alt="">
                <div class="descricao-produto-7">
                    <p>Controle Dualsense PlayStation®5 - PS5</p>
                </div>
                <div class="desconto-7">
                    <p>R$ 429,99</p>
                </div>
                <div class="preco-7">
                    <p>R$ 399,99</p>
                </div>
                <div class="favorito-7"> 
                    <img src="assets/img/favorito-30.png" alt="">
                </div>
                <div class="faixa-desconto-7">
                    <p>6% de desconto</p>
                </div>
            </a>
            <a href="#" class="produto-8">
                <img class="imagem8-produto" src="assets/img/crash-cortado.png" alt="">
                <div class="descricao-produto-8">
                    <p>Game Crash Bandicoot N'sane Trilogy - PS4</p>
                </div>
                <div class="preco-8">
                    <p>R$ 149,90</p>
                </div>
                <div class="favorito-8">
                    <img src="assets/img/favorito-30.png" alt="">
                    </div>
            </a>
        </div>
        <a href="#" class="todos-produtos">
                <p>Ver todos produtos</p> 
        </a>
    </div>
</section>

<section class="newsletter">
    <div class="container-grid-4">
        <div class="nome-newsletter">
            <h2>Newsletter</h2>
            <p>Receba atualizações assinando nosso boletim informativo</p>
        </div>
        <form #emailnewsletterForm="ngForm" (ngSubmit)="onSubmit()">
            <label for="email"></label>
            <input type="email" id="email" name="email" [(ngModel)]="emailnewsletterModel.email">
            <button type="submit" class="inscricao">Se Inscrever</button>
            <img src="assets/img/newsletter-figma.png" alt="newsletter-figma.png">
        </form>
    </div>
</section>
