footer {
    width: 100%;
    height: 268px;
    background-color: #F2E8E8;
}

.container-grid-5 {
    width: 1240px;
    height: 268px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nome-game-mania {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.direitos-reservados {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.sobre-nos {
    list-style: none;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    margin: 0px 0px 20px 136px;
    color: rgba(0, 0, 0, 0.699);
}

.nome-sobre-nos {
    color: black;
}

.sobre-nos li {
    margin-bottom: 7px;
}

.sobre-nos li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
}

.links-uteis {
    list-style: none;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    margin: 0px 0px 18px 100px;
    color: rgba(0, 0, 0, 0.699);
}

.nome-links-uteis {
    color: black;
}

.links-uteis li {
    margin-bottom: 7px;
}

.links-uteis li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
}

.faqs {
    text-transform: uppercase;
}

.faqs p {}

.siga-nos {
    list-style: none;
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    margin: 14px 0px 0px 98px;
}

.nome-siga-nos {
    color: black;
}
 
.siga-nos li {
    margin-bottom: 7px;
}

.siga-nos li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
}

@media screen and (max-width: 1100px) {

footer {
    height: 1148px;
}

.container-grid-5{
    width: 696px;
    height: 1148px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.parte-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 162px;
}

.parte-esquerda a img {}

.nome-game-mania {
    font-size: 25.98px;
}

.direitos-reservados {
    font-size: 25.98px;
}

.sobre-nos {
    margin: 0px 0px 79px 0px;
    position: absolute;
    top: 55px;
    left: 0px;
    font-size: 21.88px;
}

.links-uteis {
    margin: 0px 0px 79px 0px;
    position: absolute;
    left: 0px;
    top: 267px;
    font-size: 21.88px;
}

.siga-nos {
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 478px;
    font-size: 21.88px;
}

}

@media screen and (max-width: 360px) {

footer {
    width: 360px;
    height: 892px;
}

.container-grid-5 {
    width: 90%;
    height: 100%;
    margin: 0px auto;
}

.parte-esquerda {
    bottom: 59px;
}

.nome-game-mania {
    font-size: 18px;
}

.direitos-reservados {
    width: 156px;
    height: 54px;
    font-size: 18px;
    text-align: center; 
}

.sobre-nos {
    font-size: 18px;
}

.links-uteis {
    font-size: 18px;
}

.siga-nos {
    font-size: 18px;
}

}