<footer>
    <div class="container-grid-5">
        <div class="parte-esquerda">
            <a routerLink="#"> <img src="assets/img/logo-cortado.png" alt="logo.png"> </a>
            <p class="nome-game-mania">© 2021 Game Mania.</p>
            <p class="direitos-reservados">Todos os direitos reservados</p>
        </div>
        <ul class="sobre-nos">
            <li class="nome-sobre-nos">Sobre Nós</li>
            <li> <a routerLink="#">Sobre nós</a> </li>
            <li> <a routerLink="#">Localização da loja</a> </li>
            <li> <a routerLink="#">Contato</a> </li>
        </ul>
        <ul class="links-uteis">
            <li class="nome-links-uteis">Links Úteis</li>
            <li> <a routerLink="#">Devoluções</a> </li>
            <li> <a routerLink="#">Política de Suporte</a> </li>
            <li> <a routerLink="#" class="faqs">Faqs</a> </li>
        </ul>
        <ul class="siga-nos">
            <li class="nome-siga-nos">Siga-Nos</li>
            <li> <a routerLink="#">Facebook</a> </li>
            <li> <a routerLink="#">Twitter</a> </li>
            <li> <a routerLink="#">Instagram</a> </li>
            <li> <a routerLink="#">Youtube</a> </li>
        </ul>
    </div>
</footer>

<script>
    let menu = document.getElementById("menu");

    function mostrarMenu() {
        if (menu.style.display == "none") {
            menu.style.display = "flex"
        } else {
            menu.style.display = "none"
        }
    }
</script>

