header {
    height: 107px;
}

.container-grid {
    width: 90%;
    max-width: 1240px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-header {
    width: 529px;
    position: absolute;
    left: 246px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.menu-header a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.icones {
    width: 167px;
    display: flex;
    justify-content: space-between;
}

.icones a {}

.barras {
    display: none;
}

@media screen and (max-width: 1100px) {

/* Header */
.menu-header {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 217px;
    height: 295px;
    background-color: black;
    left: 65px;
    top: 37px;
    padding: 10px 0px;
}
    
.menu-header a {
    color: white;
}
    
.barras {
    display: inline-block;
    margin-right: 50px;
}
    
.container-grid {
    position: relative;
}
    
.logo-menuhamburguer {    
    display: flex;
    flex-direction: row-reverse;
}
    
}

@media screen and (max-width: 360px) {

/* Header */
header {
    width: 360px;
    height: 63px;
}
    
.menu-header {
    top: 14px;
    left: 57px;
    width: 225px;
}
    
.logo {
    margin-right: 93px;
}
    
.icones {
    display: none;
}

}
    
