<header>
    <div class="container-grid">
        <div class="logo-menuhamburguer">
            <a routerLink=""> 
                <img class="logo" src="assets/img/logo-cortado.png" alt="logo do site Game Mania"> </a>
            <a routerLink="#" class="menu-hamburguer" onclick="mostrarMenu()"> 
                <img src="assets/img/menu-hamburguer-43.png" alt="Menu Hambúrguer.png"> 
            </a>
        </div>
        <nav id="menu" class="menu-header">
            <a routerLink="">Início</a>
            <a routerLink="#">Produtos</a>
            <a routerLink="#">Novidades</a>
            <a routerLink="#">Sobre</a>
            <a routerLink="#">Contato</a>
        </nav>
        <div class="icones">
            <a routerLink="#"> <img src="assets/img/lupa-25.png" alt=""> </a>
            <a routerLink="login"> <img src="assets/img/usuario-25.png" alt=""> </a>
            <a routerLink="#"> <img src="assets//img/favorito-30.png" alt=""> </a>
            <a routerLink="#"> <img src="assets/img/cesta-de-compras-30.png" alt=""> </a>
        </div>
    </div>
</header>
