<main>
    <div class="sobre">
        <p>Sobre a Game Mania</p>
    </div>
    <div class="historia">
        <p>A Game Mania é uma loja virtual fictícia de jogos eletrônicos. Ela foi recentemente fundada em 2021 na cidade do Rio de Janeiro. 
            Hoje a Game Mania conta com aproximadamente 200 funcionários que trabalham em unidades espalhadas por todo o território nacional. 
            O logo da empresa que contém o simbolo do Pacman, foi escolhido por se um dos jogos mais marcantes da era dos jogos eletronicos. </p>
    </div>
</main>
